section#about
  .container

    .row.pt-5
      .col-md-6.text-center
        h2.display-4
          i.fa.fa-code
          |What I do?
          i.fa.fa-code  
        img.img-fluid.rounded-circle(src='./images/profile.jpg').mb-4
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et debitis unde earum ipsa, libero aliquam molestiae id vitae, illum quisquam.
      .col-md-6.text-center.d-none.d-md-block
        h2.pb-3 Skills
        h3 
          i.fab.fa-html5
          | HTML5
        .progress 
          .progress-bar(role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100")
        h3.pt-3 
          i.fab.fa-css3
          | CSS3
        .progress 
          .progress-bar(role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100")
        h3.pt-3 
          i.fab.fa-js
          | Javascript
        .progress 
          .progress-bar(role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100")
        h3.pt-3  
          i.fab.fa-react
          | React  
        .progress 
          .progress-bar(role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100")
