footer 
  .container
    .row.text-center
      .col-12
        p copyright Nantawat Laothong 2018 
      .col-6.mx-auto
        .div.d-flex.justify-content-between
          a(href='#')  
            i.fab.fa-github
          a(href='#') 
            i.fab.fa-dribbble
          a(href='#')  
            i.fab.fa-behance
          a(href='#')  
            i.fab.fa-deviantart
          a(href='#')  
            i.fab.fa-instagram
            
