//- section#hero
//-   .jumbotron
//-     .container
//-       .row.justify-content-center.pt-2.mt-5
//-         .col-8.mx-auto
//-           h1.display-3 Heading
//-           p sum dolor sit amet, consectetur adipisicing elit. Qui quo mollitia exercitationem distinctio iste quidem ipsa neque ab labore incidunt.
//-             a.d-inline.btn.btn-outline-primary.btn-lg Read More
//-

section#showcase.mt-5
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel' data-slide-to = 0)
      li(data-target='#myCarousel' data-slide-to = 1)
      li(data-target='#myCarousel' data-slide-to = 2)
    .carousel.inner
      .carousel-item.carousel-image-1.active
        .container
          .carousel-caption.d-none.d-sm-block.text-right.mb-5
            <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@mike_meyers?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Mike Meyers"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Mike Meyers</span></a>
            h1.display-3 Heading One
            p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus autem itaque nihil debitis, quis eos repellat corporis, qui consectetur.
            a.btn.btn-outline-primary.btn-lg(href='#') Message me
      .carousel-item.carousel-image-2
        .container
          .carousel-caption.d-none.d-sm-block.text-right.mb-5
            h1.display-3 Heading One
            p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus autem itaque nihil debitis, quis eos repellat corporis, qui consectetur.
            a.btn.btn-outline-primary.btn-lg(href='#') Message me
      .carousel-item.carousel-image-3
        .container
          .carousel-caption.d-none.d-sm-block.text-right.mb-5
            h1.display-3 Heading One
            p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus autem itaque nihil debitis, quis eos repellat corporis, qui consectetur.
            a.btn.btn-outline-primary.btn-lg(href='#') Message me
    a.carousel-control-prev(data-slide='prev' href='#myCarousel')
      span.carousel-control-prev-icon
    a.carousel-control-next(data-slide='next' href='#myCarousel')
      span.carousel-control-next-icon
