section#project.mb-5
  .container
    .row.pt-3
      .col-12.text-center
        h1.display-3 Projects
        p.lead Search by Technology
        form.mb-4.form-inline#search.mx-auto
          input.form-control.form-control-lg(type='text' placeholder='Search by Technology').mr-3
          button.btn.btn-primary.btn.lg Search
        div.d-flex.flex-md-row.justify-content-center.flex-wrap
          div 
            a(href='#myModal' data-toggle='modal')
              img(src='https://source.unsplash.com/random/300x300')
            .modal.fade#myModal(tabindex='-1' role='dialog' aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
              .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                  .modal-header
                    h5.modal-title#exampleModalCenterTitle Modal Title 
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-header) &times
                  .modal-body 
                    img(src='https://source.unsplash.com/random/600x600')
                    p ldajlhgkugjfjfjh fjfhjfhjfhjfhjfjhfj fabahd
                  .modal-footer 
                    button.btn.btn-secondary(data-dismiss='modal') Close 
          div 
            a(href='#myModal2' data-toggle='modal')
              img(src='https://source.unsplash.com/random/300x301')
            .modal.fade#myModal2(tabindex='-1' role='dialog' aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
              .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                  .modal-header
                    h5.modal-title#exampleModalCenterTitle Modal Title 
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-header) &times
                  .modal-body 
                    img(src='https://source.unsplash.com/random/600x601')
                    p ldajlhgkugjfjfjh fjfhjfhjfhjfhjfjhfj fabahd
                  .modal-footer 
                    button.btn.btn-secondary(data-dismiss='modal') Close 
          div 
              img(src='https://source.unsplash.com/random/300x302')
          div 
            a(href='#myModal' data-toggle='modal')
              img(src='https://source.unsplash.com/random/301x300')
            .modal.fade#myModal(tabindex='-1' role='dialog' aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
              .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                  .modal-header
                    h5.modal-title#exampleModalCenterTitle Modal Title 
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-header) &times
                  .modal-body 
                    img(src='https://source.unsplash.com/random/600x631')
                    p ldajlhgkugjfjfjh fjfhjfhjfhjfhjfjhfj fabahd
                  .modal-footer 
                    button.btn.btn-secondary(data-dismiss='modal') Close 
          div 
            a(href='#myModal2' data-toggle='modal')
              img(src='https://source.unsplash.com/random/320x302')
            .modal.fade#myModal2(tabindex='-1' role='dialog' aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
              .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                  .modal-header
                    h5.modal-title#exampleModalCenterTitle Modal Title 
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-header) &times
                  .modal-body 
                    img(src='https://source.unsplash.com/random/600x602')
                    p ldajlhgkugjfjfjh fjfhjfhjfhjfhjfjhfj fabahd
                  .modal-footer 
                    button.btn.btn-secondary(data-dismiss='modal') Close 
          div 
              img(src='https://source.unsplash.com/random/300x303')
